@font-face {
    font-family: Title;
    src: url(../group-project-1/Images/Impact\ Label.ttf)
  }

#article-section {
    display: none;
}

h1 {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-family: Title;
    font-size: 100px;
}

h3 {
    text-align: center;
    margin-bottom: 50px;
}

th {
    text-align: center;
}

button {
    align-content: center;
}
